:root {
  --font-size-small: 12px;
  --primary-color: #5c2941;
  --header-bg: #5c2941;
  --home-link-color: #a1613f;
  --home-link-hover-color: var(--primary-color);
  --button-color: #e5c3d3;
  --button-alternate-color: #5c2941;
  --post-link-color: #0f070b;
  --nav-link-hover-bg: #111;
  --text-color-meta: rgba(0, 0, 0, 0.5);
  --label-text: rgba(0, 0, 0, 0.5);
  --input-focus-border: #83aaac;
  --grid-gap: 30px;
}

.progress-bar {
  background-color: #0a9279;
}

:export {
  color-background: #ffffff;
  accent-color: #0a9279;
  header-icon-color: #ffffff;
  footer-icon-color: #ffffff;
  footer-background-color: #000000;
  footer-links-color: #ffffff;
  expert-author-icon-color: #000000;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #222222;
  margin: 0;
}

h1 {
  font-size: 32px;
  line-height: 38px;
}

@media only screen and (max-width: 768px) {
  h1 {
    font-size: 28px;
    line-height: 34px;
  }
}

@media only screen and (max-width: 480px) {
  h1 {
    font-size: 24px;
    line-height: 30px;
  }
}

h2 {
  font-size: 28px;
  line-height: 36px;
  margin-bottom: 8px;
}

@media only screen and (max-width: 768px) {
  h2 {
    font-size: 24px;
    line-height: 32px;
  }
}

@media only screen and (max-width: 480px) {
  h2 {
    font-size: 21px;
    line-height: 30px;
  }
}

h3 {
  font-size: 21px;
  line-height: 28px;
  margin-bottom: 8px;
}

@media only screen and (max-width: 768px) {
  h3 {
    font-size: 18px;
    line-height: 24px;
  }
}

@media only screen and (max-width: 480px) {
  h3 {
    font-size: 15px;
    line-height: 21px;
  }
}

p,
span {
  font-size: 15px;
  line-height: 21px;
}

@media only screen and (max-width: 768px) {
  p,
  span {
    font-size: 13px;
    line-height: 18px;
  }
}

@media only screen and (max-width: 480px) {
  p,
  span {
    font-size: 12px;
    line-height: 16px;
  }
}

.large-text {
  font-size: 18px;
  line-height: 28px;
}

@media only screen and (max-width: 768px) {
  .large-text {
    font-size: 16px;
    line-height: 24px;
  }
}

@media only screen and (max-width: 480px) {
  .large-text {
    font-size: 14px;
    line-height: 21px;
  }
}

.small-text {
  font-size: 12px;
  line-height: 16px;
}

@media only screen and (max-width: 480px) {
  .small-text {
    font-size: 11px;
    line-height: 15px;
  }
}

.xsmall-text {
  font-size: 10px;
  line-height: 14px;
}

a {
  color: #0a9279;
  text-decoration: none;
}

*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-size: 16px;
}

/*
  Author: Stackrole <info@stackrole.com>
  Github: https://github.com/stackrole/css-grid-utility
*/
.grids {
  display: -ms-grid;
  display: grid;
  grid-gap: var(--grid-gap);
}

.grids.col-1 {
  -ms-grid-columns: (1fr)[1];
      grid-template-columns: repeat(1, 1fr);
}

.grids.col-2 {
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
}

.grids.col-3 {
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
}

@media (min-width: 576px) {
  .grids.sm-1 {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
  .grids.sm-2 {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  .grids.sm-3 {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 768px) {
  .grids.md-1 {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
  .grids.md-2 {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  .grids.md-3 {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 992px) {
  .grids.lg-1 {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
  .grids.lg-2 {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  .grids.lg-3 {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1200px) {
  .grids.xl-1 {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
  .grids.xl-2 {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  .grids.xl-3 {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}

.text-align-right {
  text-align: right;
}

.icon {
  display: inline-block;
  line-height: inherit;
  vertical-align: middle;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.icon.-love {
  color: red;
}

/**
 * prism.js default theme for JavaScript, CSS and HTML
 * Based on dabblet (http://dabblet.com)
 * @author Lea Verou
 */
code[class*="language-"],
pre[class*="language-"] {
  color: black;
  background: none;
  text-shadow: 0 1px white;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

pre[class*="language-"]::-moz-selection,
pre[class*="language-"] ::-moz-selection,
code[class*="language-"]::-moz-selection,
code[class*="language-"] ::-moz-selection {
  text-shadow: none;
  background: #b3d4fc;
}

pre[class*="language-"]::selection,
pre[class*="language-"] ::selection,
code[class*="language-"]::selection,
code[class*="language-"] ::selection {
  text-shadow: none;
  background: #b3d4fc;
}

@media print {
  code[class*="language-"],
  pre[class*="language-"] {
    text-shadow: none;
  }
}

/* Code blocks */
pre[class*="language-"] {
  padding: 1em;
  margin: .5em 0;
  overflow: auto;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  background: #f5f2f0;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
  padding: .1em;
  border-radius: .3em;
  white-space: normal;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: slategray;
}

.token.punctuation {
  color: #999;
}

.namespace {
  opacity: .7;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
  color: #905;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: #690;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  color: #a67f59;
  background: rgba(255, 255, 255, 0.5);
}

.token.atrule,
.token.attr-value,
.token.keyword {
  color: #07a;
}

.token.function {
  color: #DD4A68;
}

.token.regex,
.token.important,
.token.variable {
  color: #e90;
}

.token.important,
.token.bold {
  font-weight: bold;
}

.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}

.primary-container {
  background-color: #ffffff;
}

.primary-container main {
  min-height: calc(100vh - 60px - 81px);
  padding-bottom: 4rem;
}

.container {
  margin: 0 auto;
  max-width: 1100px;
  padding: 0 20px;
}

.page,
.blog-page,
.contact-page,
.thanks-page,
.not-found-page {
  padding: 1rem;
}

.page .wrapper,
.blog-page .wrapper,
.contact-page .wrapper,
.thanks-page .wrapper,
.not-found-page .wrapper {
  max-width: 768px;
  margin: 0 auto;
}

@media only screen and (max-width: 768px) {
  .page,
  .blog-page,
  .contact-page,
  .thanks-page,
  .not-found-page {
    padding: 0 20px;
  }
  .primary-container main {
    padding-bottom: 3rem;
  }
}

@media only screen and (max-width: 480px) {
  .primary-container main {
    min-height: calc(100vh - 60px - 81px);
    padding-bottom: 2rem;
    padding: 0;
    margin-left: 24px;
    margin-right: 24px;
  }
}

.site-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  color: #222222;
  max-width: 1060px;
  margin: 0 auto;
  border-bottom: 1px solid #222222;
}

.sticky {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #ffffff;
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  max-width: 100%;
  -webkit-box-shadow: 0 3px 4px rgba(0, 0, 0, 0.08);
          box-shadow: 0 3px 4px rgba(0, 0, 0, 0.08);
  border-bottom: 0px;
}

.sticky .navbar {
  margin-left: calc((100% - 1060px) / 2);
}

.sticky .logo {
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  border-right: 1px solid black;
}

.sticky .sticky-title {
  margin-right: auto;
  padding-left: 12px;
  font-size: 18px;
  font-weight: 400;
}

@media only screen and (max-width: 480px) {
  .sticky .sticky-title {
    display: none;
    margin-right: 0;
  }
  .sticky .sticky-icons a {
    margin-left: 10px;
    margin-bottom: 0;
    font-size: 1rem !important;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
  }
}

.sticky .sticky-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: calc((100% - 1060px) / 2);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.sticky .sticky-icons a {
  font-size: 1.5rem;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
}

.header-icon {
  color: #ffffff;
}

.overlay {
  position: fixed;
  /* Sit on top of the page content */
  display: block;
  /* Hidden by default */
  width: 100%;
  /* Full width (cover the whole page) */
  height: 100%;
  /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
  /* Black background with opacity */
  z-index: -1;
  /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer;
  /* Add a pointer on hover */
}

.overlay a {
  pointer-events: none;
  cursor: default;
  text-decoration: none;
  color: black;
}

.overlay .site-header nav a {
  pointer-events: auto !important;
  cursor: pointer;
}

@media only screen and (max-width: 768px) {
  .site-header {
    margin: 0 24px;
  }
  .sticky {
    margin: 0;
    height: 60px;
  }
  .sticky .navbar {
    max-width: 100%;
    margin-left: 1rem;
  }
  .sticky .sticky-icons {
    margin-right: 7px;
  }
  .sticky .sticky-icons img {
    margin-bottom: 0;
    width: 35px;
    padding-left: 10px;
  }
}

@media only screen and (max-width: 1100px) {
  .sticky {
    margin: 0;
    height: 60px;
  }
  .sticky .navbar {
    max-width: 100%;
    margin-left: 1rem;
  }
  .sticky .sticky-icons {
    margin-right: 7px;
  }
}

.navbar {
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu-bars {
  margin-left: 0.2rem;
  font-size: 1rem;
  background: none;
}

.search-icon {
  margin-right: 0.2rem;
  font-size: 1rem;
  background: none;
}

@media only screen and (max-width: 480px) {
  .menu-bars {
    margin-left: 0.2rem;
    font-size: 1rem;
    background: none;
  }
  .search-icon {
    margin-right: 0.2rem;
    font-size: 1rem;
    background: none;
  }
}

.menu-bars-modified {
  margin-left: 0.2rem;
  font-size: 1rem;
  background: none;
}

.nav-menu {
  background-color: #ffffff;
  z-index: 9999;
  width: 275px;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: fixed;
  top: 0;
  left: -100%;
  -webkit-transition: 850ms;
  transition: 850ms;
}

.nav-menu.active {
  left: 0;
  -webkit-transition: 350ms;
  transition: 350ms;
}

.nav-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  height: 60px;
}

.nav-text a {
  text-decoration: none;
  color: #000000;
  font-size: 18px;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 4px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-text a:hover {
  background-color: #d3d3d3;
}

.nav-menu-items {
  width: 100%;
  margin-left: 24px !important;
}

.nav-menu-items li {
  margin-bottom: 0;
}

.navbar-toggle {
  background-color: #ffffff;
  width: 100%;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
}

.navbar-border {
  border-bottom: 1px solid rgba(34, 34, 34, 0.1);
}

footer {
  width: 100%;
  background-color: #000000;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  max-width: 1100px;
  margin: 0 auto;
  padding-left: 24px;
  padding-right: 24px;
  color: #222222;
  background-color: #000000;
}

.footer > * {
  -webkit-box-flex: 1;
      -ms-flex: 1 100%;
          flex: 1 100%;
}

.footer__addr {
  margin-right: 1.25em;
  margin-bottom: 2em;
  padding-top: 80px;
}

.footer__logo {
  font-weight: 400;
  text-transform: lowercase;
  font-size: 1.5rem;
  color: white;
}

.footer ul {
  list-style: none;
  padding-left: 0;
}

.footer li {
  line-height: 1.5em;
}

.footer a {
  text-decoration: none;
}

.footer__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

.nav__item {
  padding-top: 60px;
}

.nav__ul {
  padding-top: 60px;
}

.footer__nav > * {
  -webkit-box-flex: 1;
      -ms-flex: 1 50%;
          flex: 1 50%;
  margin-right: 1.25em;
}

.nav__ul a {
  color: #ffffff;
  font-size: 15px;
  opacity: 0.7;
}

ul.coloumn1-content li a {
  color: #ffffff;
  font-size: 15px;
  opacity: 0.7;
}

.set-line {
  border: 1px solid #ffffff;
  opacity: 0.2;
  height: 0 !important;
}

.legal p.copyright {
  color: #ffffff;
  opacity: 0.7;
  font-size: 15px;
}

.legal p.foooter-text {
  color: #ffffff;
  opacity: 0.3;
  margin-top: 5px;
  margin-bottom: 80px;
  font-size: 15px;
}

.nav__ul--extra {
  -webkit-column-count: 3;
          column-count: 3;
  -webkit-column-gap: 2.25em;
          column-gap: 2.25em;
}

.footer-bottom-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.legal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  color: #999;
}

ul {
  margin-left: 0;
}

.footer_social_icons {
  margin-left: auto;
  margin-right: 5px;
}

.footer_social_icons .footer-icon {
  color: #ffffff;
}

.footer_social_icons .social_link {
  padding-left: 30px;
}

.footer_social_icons a {
  padding-left: 0px;
  margin-left: 10px;
  margin-bottom: 0;
  font-size: 1.3rem !important;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
}

@media screen and (min-width: 40.375em) {
  .footer__nav > * {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .nav__item--extra {
    -webkit-box-flex: 2;
        -ms-flex-positive: 2;
            flex-grow: 2;
  }
  .footer__addr {
    -webkit-box-flex: 1;
        -ms-flex: 1 0px;
            flex: 1 0px;
  }
  .footer__nav {
    -webkit-box-flex: 1;
        -ms-flex: 1 0px;
            flex: 1 0px;
  }
}

@media screen and (max-width: 600) {
  .footer__addr.footer__logo {
    width: 100%;
    text-align: center;
    margin-left: 10px;
  }
}

@media screen and (max-width: 600) {
  .footer__addr {
    background-color: red;
  }
}

@media only screen and (max-width: 480px) {
  .footer__addr {
    padding-top: 40px;
    margin-bottom: 0px;
  }
  .footer__nav {
    margin-left: 0;
  }
  .nav__item {
    padding-top: 0px;
    margin-left: 0px;
  }
  .nav__ul {
    padding-top: 0px;
    margin-top: 0px;
  }
  .footer-bottom-section {
    margin-bottom: 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .legal p.copyright {
    font-size: 12px;
  }
  .foooter-text {
    display: none;
  }
  .footer_social_icons {
    margin-top: 20px;
    margin-left: 0;
    margin-bottom: 0;
    margin-right: 0;
  }
}

.carousel {
  width: 100%;
}

.carousel .carousel-title {
  margin-top: 48px;
  font-weight: 700;
  border-bottom: 1px solid #222222;
  padding-bottom: 16px;
}

@media only screen and (max-width: 768px) {
  .carousel .carousel-title {
    margin-top: 40px;
  }
}

@media only screen and (max-width: 480px) {
  .carousel .carousel-title {
    margin-top: 32px;
  }
}

.carousel .carousel-list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  padding-top: 32px;
}

@media only screen and (max-width: 768px) {
  .carousel .carousel-list {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 16px;
    padding: 32px 20px 0px 20px;
  }
}

.carousel .carousel-card h3 {
  margin-top: 12px;
  font-weight: 700;
}

@media only screen and (max-width: 480px) {
  .carousel .carousel-card h3 {
    margin-top: 8px;
  }
}

.carousel .carousel-card p {
  font-weight: 400;
  color: #828282;
}

.home-posts {
  margin-top: 48px;
}

@media only screen and (max-width: 768px) {
  .home-posts {
    margin-top: 40px;
  }
}

@media only screen and (max-width: 480px) {
  .home-posts {
    margin-top: 32px;
  }
}

.home-posts .title-posts {
  border-bottom: 1px solid #222222;
  padding-bottom: 16px;
}

@media only screen and (max-width: 480px) {
  .home-posts .title-posts {
    padding-bottom: 12px;
  }
}

.home-posts .grid-posts {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[4];
  -ms-grid-columns: (1fr)[2];
      grid-template: repeat(4, 1fr)/repeat(2, 1fr);
  grid-column-gap: 32px;
  grid-row-gap: 12px;
  padding-top: 32px;
}

@media only screen and (max-width: 768px) {
  .home-posts .grid-posts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    grid-row-gap: 12px;
    padding-top: 24px;
  }
}

.home-posts .principal-post {
  -ms-grid-row: 1;
  -ms-grid-row-span: 4;
  grid-row: 1 / span 4;
  -ms-grid-column: 2;
  grid-column: 2;
  background: #f8f8f8;
}

.home-posts .principal-post img {
  margin: 0;
  z-index: 1;
}

@media only screen and (max-width: 768px) {
  .home-posts .principal-post img {
    width: 100%;
  }
}

.home-posts .principal-post-info {
  padding: 16px 32px;
}

@media only screen and (max-width: 480px) {
  .home-posts .principal-post-info {
    padding: 8px 16px 12px;
  }
}

.home-posts .principal-post-info span {
  font-weight: 500;
  color: #0a9279;
}

.home-posts .principal-post-info h1 {
  color: #222222;
  font-weight: 700;
}

.home-posts .principal-post-info p {
  color: #828282;
}

.blog-list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  grid-row-gap: 2rem;
  grid-column-gap: 1rem;
}

@media only screen and (max-width: 768px) {
  .blog-list {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (max-width: 480px) {
  .blog-list {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

.blog-list h3 {
  margin-top: 12px;
  font-weight: 700;
}

@media only screen and (max-width: 480px) {
  .blog-list h3 {
    margin-top: 8px;
  }
}

.blog-list p {
  font-weight: 400;
  color: #828282;
}

article.post-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

article.post-card div.featured-image {
  height: 130px;
  min-width: 200px;
  max-width: 200px;
}

article.post-card div.featured-image img {
  display: block;
  margin: 0;
}

article.post-card .post-content {
  padding-left: 16px;
}

@media only screen and (max-width: 480px) {
  article.post-card .post-content {
    padding-left: 12px;
  }
}

article.post-card .post-content h3 {
  font-weight: 700;
}

article.post-card .post-content .description {
  color: #828282;
}

article.post-card .post-content .category {
  color: #0a9279;
  font-weight: 500;
}

article.post-card .post-content .truncate-overflow {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

@media only screen and (max-width: 480px) {
  article.post-card div.featured-image {
    min-width: 100px;
    width: 100px;
    min-height: 100px;
    height: 100px;
  }
}

.blog-post {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
  -ms-grid-columns: 1fr 300px;
      grid-template: 1fr / 1fr 300px;
  grid-column-gap: 2rem;
}

@media only screen and (max-width: 768px) {
  .blog-post {
    display: block;
  }
}

.blog-post .featured-image {
  min-height: 50vh;
}

.blog-post-sidebar {
  grid-row: span 2;
}

.blog-post-content {
  margin: 0 auto;
  padding-top: 3rem;
}

@media only screen and (max-width: 768px) {
  .blog-post-content {
    padding-top: 2rem;
  }
}

.blog-post-content h1,
.blog-post-content h2,
.blog-post-content h3 {
  font-weight: 600;
  margin-bottom: 12px;
}

.blog-post-content h2 {
  font-size: 28px;
  line-height: 36px;
}

.blog-post-content h3 {
  font-size: 21px;
  line-height: 28px;
}

.blog-post-content p {
  font-size: 18px;
  line-height: 28px;
  margin-bottom: 32px;
  font-weight: 400;
}

@media only screen and (max-width: 768px) {
  .blog-post-content p {
    font-size: 16px;
    line-height: 24px;
  }
}

@media only screen and (max-width: 480px) {
  .blog-post-content p {
    font-size: 14px;
    line-height: 21px;
  }
}

@media only screen and (max-width: 480px) {
  .blog-post-content h2 {
    font-size: 20px;
    line-height: 26px;
  }
  .blog-post-content h3 {
    font-size: 18px;
    line-height: 24px;
  }
}

.blog-post-content a[target="_blank"]:after {
  font-family: "FontAwesome";
  content: " \f08e";
  font-style: normal;
}

.article {
  -ms-grid-row: 2;
  grid-row: 2;
  margin-top: 80px;
}

.article .blog-post-header {
  margin: 24px 0;
}

.article .blog-post-header h1 {
  max-width: 600px;
  font-size: 40px;
  line-height: 46px;
  font-weight: 900;
  margin: 8px 0;
}

@media only screen and (max-width: 768px) {
  .article .blog-post-header {
    margin: 32px 0;
  }
}

@media only screen and (max-width: 480px) {
  .article .blog-post-header h1 {
    font-size: 24px;
    line-height: 30px;
    font-weight: 800;
  }
}

.article .blog-post-header .blog-post-header-section1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* center items vertically, in this case */
  height: 30px;
}

.article .blog-post-header .blog-post-header-section1 .reviewed {
  text-decoration: none;
  margin-left: 10px;
}

@media only screen and (max-width: 480px) {
  .article .blog-post-header .blog-post-header-section1 .reviewed {
    margin-left: 5px;
  }
}

.article .blog-post-header p.post-reviewed {
  font-weight: 500;
}

.article .blog-post-header p.personal-info {
  font-weight: 400;
}

.article .blog-post-header span,
.article .blog-post-header a {
  color: #0a9279;
  text-decoration: underline;
}

.recipe__stats__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.recipe__stats__body span {
  padding-left: 5px;
}

.recipe__stats__body .right-image {
  padding-left: 20px;
}

.recipe__ingredients h3 {
  padding-bottom: 12px;
}

.recipe__ingredients ul {
  margin-left: 1.8rem;
}

.recipe__preperation h3 {
  padding-bottom: 12px;
}

@media only screen and (max-width: 480px) {
  .blog-post-ad,
  .blog-post-sidebar {
    display: none;
  }
  .blog-post-content {
    padding-top: 1.5rem;
  }
}

.author_expert_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 50px;
  padding-bottom: 50px;
  border-bottom: 1px solid #222222;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media only screen and (max-width: 480px) {
  .author_expert_container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-bottom: 0px;
  }
}

.author_expert_container .author_expert_left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 50%;
      -ms-flex: 50%;
          flex: 50%;
}

@media only screen and (max-width: 480px) {
  .author_expert_container .author_expert_left {
    display: block;
  }
}

.author_expert_container .author_expert_left .author_expert_image {
  position: relative;
  width: 182px;
  height: 182px;
  overflow: hidden;
  border-radius: 50%;
}

@media only screen and (max-width: 480px) {
  .author_expert_container .author_expert_left .author_expert_image {
    width: 106px;
    height: 106px;
  }
}

.author_expert_container .author_expert_left .author_expert_image img {
  width: 182px;
  height: 182px;
  -o-object-fit: cover;
     object-fit: cover;
}

@media only screen and (max-width: 480px) {
  .author_expert_container .author_expert_left .author_expert_image img {
    width: 106px;
    height: 106px;
    margin-bottom: 21px;
  }
}

.author_expert_container .author_expert_left .author_expert_detail {
  margin-left: 27px;
  -webkit-box-flex: 60%;
      -ms-flex: 60%;
          flex: 60%;
}

@media only screen and (max-width: 480px) {
  .author_expert_container .author_expert_left .author_expert_detail {
    margin-left: 0px;
  }
}

.author_expert_container .author_expert_left .author_expert_detail .author_expert_total_posts {
  font-size: 12px;
  line-height: 22px;
  letter-spacing: 1px;
  font-weight: 800;
}

.author_expert_container .author_expert_left .author_expert_detail .author_expert_social_links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.author_expert_container .author_expert_left .author_expert_detail .author_expert_social_links .author_expert_icon {
  color: #000000;
  size: 18px;
}

@media only screen and (max-width: 480px) {
  .author_expert_container .author_expert_left .author_expert_detail .author_expert_social_links {
    margin-bottom: 24px;
  }
}

.author_expert_container .author_expert_left .author_expert_detail .author_expert_social_links div {
  padding-left: 15px;
}

.author_expert_container .author_expert_left .author_expert_detail .author_expert_name {
  font-size: 52px;
  font-weight: 800;
  line-height: 53px;
  margin-bottom: 18px;
}

@media only screen and (max-width: 480px) {
  .author_expert_container .author_expert_left .author_expert_detail .author_expert_name {
    font-size: 40px;
    line-height: 46px;
  }
}

.author_expert_container .author_expert_right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 50%;
      -ms-flex: 50%;
          flex: 50%;
}

.author_expert_container .author_expert_right h2 {
  display: none;
}

@media only screen and (max-width: 480px) {
  .author_expert_container .author_expert_right h2 {
    display: block;
  }
}

@media only screen and (max-width: 480px) {
  .author_expert_container .author_expert_right {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.site-navigation ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.site-navigation ul li {
  display: inline-block;
  margin-left: 20px;
}

.site-navigation a {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}

.site-navigation a:hover {
  color: rgba(255, 255, 255, 0.8);
}

.site-navigation a[aria-current="page"] {
  color: white;
}

.site-navigation .menu-trigger {
  display: none;
  font-size: 24px;
  background: none;
  border: none;
  color: white;
  padding: 0;
  cursor: pointer;
}

@media (max-width: 1024px) {
  .site-navigation .menu-trigger,
  .site-navigation .icon-menu-line {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .site-navigation .icon-menu-close {
    display: none;
  }
  .site-navigation .menu-trigger.is-active .icon-menu-line {
    display: none;
  }
  .site-navigation .menu-trigger.is-active .icon-menu-close {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .site-navigation .menu-trigger.is-active + ul {
    display: block;
  }
  .site-navigation ul {
    display: none;
    position: absolute;
    right: 0;
    top: 100%;
    z-index: 1;
    background: #421e2f;
    width: 100%;
    max-width: 320px;
    border-radius: 0 0 0 12px;
    overflow: hidden;
  }
  .site-navigation ul li {
    display: block;
    margin-left: 0;
  }
  .site-navigation a {
    display: block;
    padding: 20px;
  }
}

.home-banner {
  padding: 60px 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home-banner .title {
  font-size: 48px;
  line-height: 48px;
  margin: 0 0 5px;
  font-weight: 900;
}

.home-banner .tagline {
  font-size: 24px;
  margin-top: 0;
  margin-top: 2px;
  color: rgba(0, 0, 0, 0.7);
}

.home-banner .description {
  font-size: 20px;
  line-height: 1.4;
  margin-bottom: 30px;
}

.home-banner .featured-image {
  border-radius: 12px;
}

@media (max-width: 768px) {
  .home-banner {
    padding-top: 30px;
  }
  .home-banner > div:nth-child(1) {
    padding-bottom: 30px;
  }
}

article figure {
  margin: 40px 0;
  text-align: center;
}

article figure figcaption {
  font-size: var(--font-size-small);
  color: var(--text-color-meta);
  margin-top: 5px;
}

article blockquote {
  width: 100%;
  margin: 0;
  margin-bottom: 1.2rem;
  padding: 0.1rem 1rem 0.1rem 1rem;
  background-color: #ffffff;
  border-left: 3px solid rgba(10, 146, 121, 0.3);
}

article blockquote p:last-child {
  margin-bottom: 0px !important;
}

article iframe {
  border: 2px solid black;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

article img {
  max-width: 100%;
}

.h2-scroll {
  padding-top: 80px;
  margin-top: -80px;
}

@media only screen and (max-width: 480px) {
  .loader {
    display: none;
  }
}

.circle {
  background: black;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 10px;
}

@media only screen and (max-width: 480px) {
  .circle {
    width: 30px;
    height: 30px;
    margin-left: 8px;
  }
}

.expert-circle {
  display: block;
  height: 20px;
  width: 20px;
  line-height: 16px;
  /* or 50% */
  border-radius: 30px;
  /* or 50% */
  background-color: #0a9279;
  color: white;
  text-align: center;
  font-size: 2em;
}

mark {
  background-color: rgba(10, 146, 121, 0.1);
  /* TODO Replace with SASS lighten or variable */
}
/*# sourceMappingURL=style.css.map */